@import "tailwindcss";
body {
  font-family: "Outfit", sans-serif;
}

@layer base {
  .bg-hero-background {
    background: url("/Hero-Background-notecode.svg") #804be7;
  }

  .bg-black-editor {
    --tw-bg-opacity: 1;
    background-color: rgb(30 30 30 / var(--tw-bg-opacity));
  }
}
